<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.spring.mapper.LeaveApplyMapper">
	<resultMap id="BaseResultMap" type="boot.spring.po.LeaveApply">
	    <id column="id" jdbcType="INTEGER" property="id" />
	    <result column="process_instance_id" jdbcType="VARCHAR" property="process_instance_id" />
	    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
	    <result column="start_time" jdbcType="VARCHAR" property="start_time" />
	    <result column="end_time" jdbcType="VARCHAR" property="end_time" />
	    <result column="leave_type" jdbcType="VARCHAR" property="leave_type" />
	    <result column="reason" jdbcType="VARCHAR" property="reason" />
	    <result column="apply_time" jdbcType="VARCHAR" property="apply_time" />
	    <result column="reality_start_time" jdbcType="VARCHAR" property="reality_start_time" />
	    <result column="reality_end_time" jdbcType="VARCHAR" property="reality_end_time" />
	</resultMap>
	
	<select id="getLeaveApply" resultType="boot.spring.po.LeaveApply" parameterType="int">
		select * from leaveapply where id=#{id} 
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="boot.spring.po.LeaveApply">
	  insert into leaveapply (id,process_instance_id,user_id,start_time,end_time,leave_type,reason,apply_time,reality_start_time,reality_end_time)
	  values (#{id},#{process_instance_id},#{user_id},#{start_time},#{end_time},#{leave_type},#{reason},#{apply_time},#{reality_start_time},#{reality_end_time})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="boot.spring.po.LeaveApply">
		 update leaveapply
	    <set>
	      <if test="process_instance_id != null">
	        process_instance_id = #{process_instance_id,jdbcType=VARCHAR},
	      </if>
	      <if test="user_id != null">
	        user_id = #{user_id,jdbcType=VARCHAR},
	      </if>
	      <if test="start_time != null">
	        start_time = #{start_time,jdbcType=VARCHAR},
	      </if>
	      <if test="end_time != null">
	        end_time = #{end_time,jdbcType=VARCHAR},
	      </if>
	      <if test="leave_type != null">
	        leave_type = #{leave_type,jdbcType=VARCHAR},
	      </if>
	      <if test="reason != null">
	        reason = #{reason,jdbcType=VARCHAR},
	      </if>
	      <if test="apply_time != null">
	        apply_time = #{apply_time,jdbcType=VARCHAR},
	      </if>
	      <if test="reality_start_time != null">
	        reality_start_time = #{reality_start_time,jdbcType=VARCHAR},
	      </if>
	      <if test="reality_end_time != null">
	        reality_end_time = #{reality_end_time,jdbcType=VARCHAR},
	      </if>
	    </set>
	    where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>