<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LoginMapper">
	<resultMap type="po.Staff" id="staffMap">
        <id column="staff_id" property="staff_id" ></id>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="last_name" property="last_name"/>
    </resultMap>
    <select id="getpwdbyname" parameterType="String"  resultMap="staffMap">
    	select * from staff where username=#{name}
    </select>
    
    
</mapper>