<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PermissionMapper">
    <select id="getPermissions" resultType="po.Permission">
    	select * from permission
    </select>
    <select id="getPermissionByname" resultType="po.Permission">
    	select * from permission where permissionname=#{permissionname}
    </select>
    <insert id="addpermission">
    	insert into permission (permissionname) values(#{permissisonname})
    </insert>
    <delete id="deletepermission">
    	delete from permission where pid=#{pid}
    </delete>
    <delete id="deleteRole_permission">
    	delete from role_permission where permissionid=#{permissionid}
    </delete>
</mapper>