<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.spring.mapper.PurchaseApplyMapper">
	<select id="getPurchaseApply" resultType="boot.spring.po.PurchaseApply" parameterType="int">
		select * from purchase where id=#{id} 
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="boot.spring.po.PurchaseApply">
	  insert into purchase (id,itemlist,total,applytime,applyer)
	  values (#{id},#{itemlist},#{total},#{applytime},#{applyer})
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="boot.spring.po.PurchaseApply">
		update purchase
		    <set>
		      <if test="total != null">
		        total = #{total,jdbcType=DECIMAL},
		      </if>
		      <if test="applytime != null">
		        applytime = #{applytime,jdbcType=VARCHAR},
		      </if>
		      <if test="applyer != null">
		        applyer = #{applyer,jdbcType=VARCHAR},
		      </if>
		      <if test="itemlist != null">
		        itemlist = #{itemlist,jdbcType=LONGVARCHAR},
		      </if>
		    </set>
		    where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>