<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="po.UserRole">
    <id column="urid" jdbcType="INTEGER" property="urid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <sql id="Base_Column_List">
    urid, userid, roleid
  </sql>
  
  <select id="listUserRoleByUid" resultMap="BaseResultMap">
  	select * from user_role where userid = #{0}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_role
    where urid = #{urid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_role
    where urid = #{urid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.UserRole">
    insert into user_role (urid, userid, roleid
      )
    values (#{urid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        urid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.UserRole">
    update user_role
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
    </set>
    where urid = #{urid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.UserRole">
    update user_role
    set userid = #{userid,jdbcType=INTEGER},
      roleid = #{roleid,jdbcType=INTEGER}
    where urid = #{urid,jdbcType=INTEGER}
  </update>
</mapper>